* {
    box-sizing: border-box;
}

body {
    font-family: "DejaVu Sans Mono";
}

h1 {
    text-align: center;
    font-size: 175%;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 30%;
    position: relative;
    left: 70%;
    font-size: 125%;
}

section {
    margin: 20px;
    background-color: lightgray;
    border: 1px solid black;
}

p {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#title-1 {
    background-color: lightblue;
    position: relative;
}

#title-2 {
    background-color: lightgreen;
}

#title-3 {
    background-color: lightcoral;
}

.row {
    width: 100%;
}

.col-lg-4, .col-md-6, .col-sm-12 {
    float: left;
}

/* Desktop */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}
