<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<div class="container" ng-controller="controller1 as NarrowItDownController">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="query">
    </div>
    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="searchIt()">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items found-items="NarrowItDownController.found" on-remove="NarrowItDownController.removeItem(index)"></found-items>
</div>

</body>
</html>
